<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <io.jenkins.plugins.HelloWorldBuilder plugin="demoPlugin@1.0-SNAPSHOT">
      <name>asdfvarevraef</name>
    </io.jenkins.plugins.HelloWorldBuilder>
    <io.jenkins.plugins.delayBuild plugin="demoPlugin@1.0-SNAPSHOT">
      <delay>-545445</delay>
    </io.jenkins.plugins.delayBuild>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>